<h1>Model Traning</h2>

In [18]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.read_csv("./data/gemstone.csv")
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [4]:
X=df.drop(labels=["id"],axis=1)
y=df[["price"]]

In [5]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

Taking seperate numerical and categorical columns

In [6]:
numerical_cols=X.select_dtypes(exclude="object").columns
categorical_cols=X.select_dtypes(include="object").columns
categorical_cols,numerical_cols

(Index(['cut', 'color', 'clarity'], dtype='object'),
 Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object'))

In [7]:
cut_category=["Fair","Good","Very Good","Premium","Ideal"]
color_category=['D','E','F','G','H','I','J']
clarity_category=['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [8]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,OrdinalEncoder
from sklearn.pipeline import Pipeline #to combine many  process in series 
from sklearn.compose import ColumnTransformer # to combine two pipeline

In [9]:


num_pipeline=Pipeline(
    steps=[
        ("Imputer",SimpleImputer(strategy='median')),
        ("scaler",StandardScaler())
    ]
)

cat_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinalencoder',OrdinalEncoder(categories=[cut_category,color_category,clarity_category])),
        ('scalar',StandardScaler())
    ]
)

preprocessor=ColumnTransformer([
    ("num_pipeline",num_pipeline,numerical_cols),
    ("cat_pipeline",cat_pipeline,categorical_cols)
])

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=30)

In [11]:
X_train

        carat      cut color clarity  depth  table     x     y     z  price
168192   0.34    Ideal     I    VVS2   60.9   57.0  4.56  4.53  2.76    765
35202    0.90     Good     E     SI1   63.8   57.0  6.07  6.03  3.87   4763
41091    1.02  Premium     G     VS1   62.7   58.0  6.35  6.39  4.00   6139
31239    0.32  Premium     G     VS2   62.1   59.0  4.37  4.35  2.71    720
45722    0.35    Ideal     J    VVS2   61.1   56.0  4.53  4.57  2.78    774
...       ...      ...   ...     ...    ...    ...   ...   ...   ...    ...
66455    0.31    Ideal     E     SI1   61.8   56.0  4.31  4.35  2.68    544
46220    1.25    Ideal     G     SI2   62.0   56.0  6.88  6.95  4.28   5694
98804    1.00     Good     G     SI1   63.5   56.0  6.29  6.37  4.02   4563
48045    1.10    Ideal     G     VS1   59.9   60.0  6.68  6.77  4.01   6998
169765   0.91    Ideal     G     SI1   62.7   57.0  6.14  6.18  3.86   4922

[135501 rows x 10 columns]

In [12]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train))#,columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test))#,columns=preprocessor.get_feature_names_out())

In [13]:
X_train

,0,1,2,3,4,5,6,7,8,9
0,-0.975439,-0.849607,-0.121531,-1.042757,-1.080970,-1.123150,-0.794753,0.874076,1.528722,1.352731
1,0.235195,1.833637,-0.121531,0.318447,0.279859,0.485354,0.196406,-2.144558,-0.935071,-0.646786
2,0.494617,0.815855,0.399800,0.570855,0.606458,0.673737,0.537535,-0.132136,0.296826,0.686225
3,-1.018676,0.260701,0.921131,-1.214034,-1.244270,-1.195605,-0.805909,-0.132136,0.296826,0.019720
4,-0.953821,-0.664555,-0.642862,-1.069801,-1.044681,-1.094168,-0.792522,0.874076,2.144670,1.352731
...,...,...,...,...,...,...,...,...,...,...
135496,-1.040295,-0.016876,-0.642862,-1.268122,-1.244270,-1.239078,-0.849542,0.874076,-0.935071,-0.646786
135497,0.991842,0.168176,-0.642862,1.048629,1.114501,1.079486,0.427213,0.874076,0.296826,-1.313292
135498,0.451380,1.556060,-0.642862,0.516768,0.588314,0.702719,0.146823,-2.144558,0.296826,-0.646786
135499,0.667565,-1.774863,1.442462,0.868337,0.951202,0.688228,0.750493,0.874076,0.296826,0.686225
135500,0.256814,0.815855,-0.121531,0.381549,0.415942,0.470863,0.235824,0.874076,0.296826,-0.646786

In [14]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [16]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [17]:
regression.coef_

array([[-1.79419504e-11, -3.19542092e-13, -1.71691320e-13,
         5.63627082e-12, -6.08368223e-12,  1.98205692e-12,
         4.03366225e+03,  7.66231074e-14,  4.39618085e-13,
        -1.51949860e-12]])

In [34]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
   # mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [35]:
## Train multiple models
## Model Ecaluation
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 8.076932230322415e-12
MAE: 6.589741105271528e-12
R2 score 100.0
===================================


Lasso
Model Training Performance
RMSE: 1.288342434024603
MAE: 0.818868186732294
R2 score 99.99998981031295
===================================


Ridge
Model Training Performance
RMSE: 0.11804582843131699
MAE: 0.0784781381029348
R2 score 99.99999991445404
===================================


Elasticnet
Model Training Performance
RMSE: 1031.3505941518097
MAE: 713.3764075349808
R2 score 93.47003475962245
===================================